* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Colors */
    --brand-color: #EF5F4C;
    --background-color: #FFFFFF;
    --surface-color: #F5F5F5;
    --skeleton-color: #D9D9D9;
    --shape-transparency: #FFFFFF56;
    --text-color-primary: #313131;
    --text-color-secondary: #6C6C6C;

    /* Typography */
    --heading1: 700 32px/125% "Poppins", sans-serif;
    --paragraph-md: 400 14px/170% "Poppins", sans-serif;
    --paragraph-sm: 400 12px/170% "Poppins", sans-serif;
}