#images {
    & .container {
        padding-block: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        & img {
            max-width: max-content;
        } 
    }

    @media (width >= 80em ) {
        & .container {
            padding-block: 1.5rem;
            display: grid;
            grid-template-columns: repeat(4, 17.875rem);
            gap: 1.5rem;

            & img {
                max-width: 17.875rem;
            }
        }
    }
}